/*
General hacia lo especifico
*/
.cuerpo{
    background-color: black;
}
.parrafo{
    color: bisque;
    background-color: rgb(122, 45, 122);
}
/*Footer*/
#footer{
    background-color: #FFFFFF;
    color: green;
    text-align: center;
}